<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3" *ngIf="regForm">
        <h3>
          Registration - Angular 17 reactive form with validation
        </h3>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmitSignUp()">
          <div class="form-group" >
            <label for="name">Name</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
          <div class="form-group">
            <label for="name">Mobile Number</label>
            <input type="text" class="form-control" formControlName="mobileNumber">
          </div>
          <div class="form-group">
            <label for="name">Enter your age</label>
            <input type="number" class="form-control" formControlName="age">
          </div>
          <div class="form-group">
            <label for="name">Date of Birth</label>
            <input type="date" class="form-control" formControlName="DOB">
          </div>
          <!-------- New Row ---------->
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="email">Email</label>
              <input type="email" class="form-control" placeholder="sudipjangam@gmail.com"
              formControlName="email">
            </div>
            <div class="form-group col-md-6">
              <label for="password">Password</label>
              <input type="password" class="form-control" placeholder="Enter your password"
              formControlName="password">
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" class="form-control" placeholder="124,street no. 1,city"
              formControlName="addline1">
            </div>
            <div class="form-group">
              <label for="address2">Address2</label>
              <input type="text" class="form-control" placeholder="apartment, studio, or floor"
              formControlName="addline2">
            </div>
          </div>
          <div class="from-row">
            <div class="form-group col-md-6">
              <label for="city">City</label>
              <input type="text" class="form-control" placeholder="Enter your city"
              formControlName="city">
            </div>
            <div class="form-group col-md-6">
              <label for="state">State</label>
              <select id="inputState" class="form-control" formControlName="state">
                <option selected>Choose...</option>
                <option>...</option>

              </select>
              <!-- <input type="text" class="form-control" placeholder="Enter your State"
              formControlName="state"> -->
            </div>
            <div class="form-group col-md-6">
              <label for="zipcode">Zipcode</label>
              <input type="text" class="form-control" placeholder="Zipcode"
              formControlName="zipcode">
            </div>
          </div>
          <div class="form-group">
            <label for="language">Language</label>
            <select multiple class="form-control" formControlName="language">
              <option>Marathi</option>
              <option>Hindi</option>
              <option>Bhopuri</option>
              <option >Others</option>
            </select>
          </div>
          <div class="form-group">
            <label for="gender">Gender</label>
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-inline" formControlName="gender" value="Male">
              <label for="male" class="form-check-inline">Male</label>
              <input type="radio" class="form-check-inline" formControlName="gender" value="Female">
              <label for="female" class="form-check-inline">Female</label>
            </div>

           </div>
           <div class="form-group">
            <label for="aboutyou">Something about you</label>
            <textarea class="form-control" rows="3" formControlName="aboutyou"></textarea>
          </div>
          <div class="form-group">
            <label for="uploadPhoto">Upload your Photo</label>
            <input type="file" class="form-control-file" formControlName="uploadPhoto">
          </div>
          <div class="form-group">
            <input type="checkbox" class="form-check-inline" formControlName="agreetc">
            <label for="agreetc" class="form-check-inline">Terms and Conditions</label>
          </div>
          <div class="form-group">
            <label for="role">What you are ?</label>
            <select  class="form-control" formControlName="role">
              <option value="seller">Seller</option>
              <option value="buyer">Buyer</option>
            </select>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Register</button>
          </div>
        </form>
        <!---Login form here-->
        <p class="sim-pointer" routerLink="/sign-in">
          Already have an account ? Click here to login
        </p>
      </div>
      <div class="col-md-6 offset-md-3" *ngIf="!regForm">
        <h3>Login - Angular 17 reactive  template driven form with validation</h3>
        <form name="form" #tf = "ngForm" (ngSubmit)="tf.form.valid && onsubmitSignin()" novalidate>
          <div class="form-group">
            <label for="email">Email</label>
          <input type="text" class="form-control" name="useremail" [(ngModel)]="signInFormValues.useremail" #useremail="ngModel"  required email>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="userpassword" [(ngModel)]="signInFormValues.userpassword"
             required minlength="6" maxlength="20" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" #userpassword="ngModel" [ngClass]="{ 'is-invalid': tf.submitted && userpassword.invalid }" togglePassword>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Login</button>
          </div>
        </form>
        <p class="sim-pointer" routerLink="/sign-in">
          Don't have an account ? Click here to register
        </p>
      </div>
    </div>
  </div>
</div>
